In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [2]:
url = "http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
iris = pd.read_csv(url, names=['s_length', 's_width', 'p_length', 'p_width', 'class'])
iris.head()

   s_length  s_width  p_length  p_width        class
0       5.1      3.5       1.4      0.2  Iris-setosa
1       4.9      3.0       1.4      0.2  Iris-setosa
2       4.7      3.2       1.3      0.2  Iris-setosa
3       4.6      3.1       1.5      0.2  Iris-setosa
4       5.0      3.6       1.4      0.2  Iris-setosa

In [3]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
s_length    150 non-null float64
s_width     150 non-null float64
p_length    150 non-null float64
p_width     150 non-null float64
class       150 non-null object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [4]:
table = iris.shape
no_of_observation = table[0] * table[1]

null_values = iris.isnull().sum().sum()
no_of_complete = no_of_observation- null_values
per = no_of_complete/no_of_observation*100
per

100.0

In [5]:
print("Number of Null observation: ", )

Number of Null observation:

In [6]:
iris.fillna(value="NA",inplace=True)
iris

     s_length  s_width  p_length  p_width           class
0         5.1      3.5       1.4      0.2     Iris-setosa
1         4.9      3.0       1.4      0.2     Iris-setosa
2         4.7      3.2       1.3      0.2     Iris-setosa
3         4.6      3.1       1.5      0.2     Iris-setosa
4         5.0      3.6       1.4      0.2     Iris-setosa
..        ...      ...       ...      ...             ...
145       6.7      3.0       5.2      2.3  Iris-virginica
146       6.3      2.5       5.0      1.9  Iris-virginica
147       6.5      3.0       5.2      2.0  Iris-virginica
148       6.2      3.4       5.4      2.3  Iris-virginica
149       5.9      3.0       5.1      1.8  Iris-virginica

[150 rows x 5 columns]

In [7]:
#read a python file 
%run p1.py

In [8]:
species_check(iris)

No Violation

0

In [9]:
positive_Check(iris)

No Violation

0

In [10]:
check_petal(iris)

No Violation

0

In [11]:
sepal_Check(iris)

No Violation

0

In [12]:
sepal_petal_check(iris)

Violation : Sepal length is greater than petal length in some places
150 violations

150

In [13]:
url = "http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
iris1 = pd.read_csv(url, names=['s_length', 's_width', 'p_length', 'p_width'], usecols=[0,1,2,3])
iris1.head()

   s_length  s_width  p_length  p_width
0       5.1      3.5       1.4      0.2
1       4.9      3.0       1.4      0.2
2       4.7      3.2       1.3      0.2
3       4.6      3.1       1.5      0.2
4       5.0      3.6       1.4      0.2

In [14]:
data = iris1.values
print('sepal length:',data[:,0].mean())
print('sepal length: ',data[:,0].std())
print('sepal width:',data[:,1].mean())
print('sepal width: ',data[:,1].std())
print('petal length: ',data[:,2].mean())
print('petal length: ',data[:,2].std())
print('petal width: ',data[:,3].mean())
print('petal width: ',data[:,3].std())

sepal length: 5.843333333333334
sepal length:  0.8253012917851409
sepal width: 3.0540000000000003
sepal width:  0.4321465800705435
petal length:  3.758666666666666
petal length:  1.7585291834055212
petal width:  1.1986666666666668
petal width:  0.7606126185881716

In [15]:
a=data[:,0]
b=data[:,1]
c=data[:,2]
d=data[:,3]

In [16]:
scaled_a=preprocessing.scale(a)
scaled_b=preprocessing.scale(b)
scaled_c=preprocessing.scale(c)
scaled_d=preprocessing.scale(d)

In [17]:
print('Standardized Sepal Length Mean',int(scaled_a.mean()))
print('Standardized Sepal Length Standard Deviation',scaled_a.std())
print('Standardized Sepal Width Mean',int(scaled_b.mean()))
print('Standardized Sepal Width Standard Deviation',scaled_b.std())
print('Standardized Petal Length Mean',int(scaled_c.mean()))
print('Standardized Petal Length Standard Deviation',scaled_c.std())
print('Standardized Petal Width',int(scaled_d.mean()))
print('Standardized Petal Width Standard Deviation',scaled_d.std())

Standardized Sepal Length Mean 0
Standardized Sepal Length Standard Deviation 1.0
Standardized Sepal Width Mean 0
Standardized Sepal Width Standard Deviation 0.9999999999999999
Standardized Petal Length Mean 0
Standardized Petal Length Standard Deviation 0.9999999999999998
Standardized Petal Width 0
Standardized Petal Width Standard Deviation 1.0